.b-wrap-content
  background: url(../images/background.png) no-repeat
  background-size: 100%

.select2-container--default span
  width 360px

.select2-container
  margin-bottom: 29px

.x-firstCalculator
  float:left
  margin:3px 0px 0px 15px
  border:1px solid #C0C0C0
  color: #8a8c95
  width:100%
  height: 250px
  margin-bottom: 20px

.x-select
  float:left
  width:49%
  margin-bottom: -15px

.x-select-2
  float:left
  width:49%
  padding-left: 50px
  margin-bottom: -14px

#left-firstCalculator
  line-height: 1.9
  color: #8a8c95

.x-secondCalculator
  float:left
  margin:20px 0px 0px 15px
  border:1px solid #C0C0C0
  color: #8a8c95
  width:100%
  padding-left: 13px
  padding-right: 10px
  padding-top: 5px
  height: 377px

#left-secondCalculator
  line-height: 1
  color: #8a8c95

.number_headline
  float:left
  margin-top: -6px

.number
  width:20%
  margin-top: 3px

.number input
  height: 32px
  margin-top: -5px
  width: 360px
  text-align: center
  color:#8a8c95
  border: 1px solid #aaa
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.16)

#scroll
  position:relative
  float:left
  width:100%
  overflow:auto
  height: 317px

#scroller
  position:relative
  float:left
  width:310%
  white-space:nowrap
  height: 290px

#operation0
  float:left
  width:16%
  display:block
  margin-top: 25px

#operation1
  float:left
  width:16%
  display:block
  margin-top: 25px
  padding-left: 47px

#operation2
  float:left
  width:16%
  display:block
  margin-top: 25px
  padding-left: 95px

#operation3
  float:left
  width:16%
  display:block
  margin-top: 25px
  padding-left: 140px


// select2
   .select2-container--default .select2-selection--single .select2-selection__arrow
     height: 26px
     position: absolute
     top: 3px
     right: 3px
     width: 26px
     background-color: #b9bdc5
     .select2-container--default .select2-selection--single .select2-selection__arrow b
       border-color: #fbfbfb transparent transparent transparent
       border-style: solid
       border-width: 0px 4px 0 4px
       height: 0
       left: 50%
       margin-left: -4px
       margin-top: -2px
       position: absolute
       top: 50%
       width: 0

  .select2-container--classic .select2-selection--single .select2-selection__arrow b
    border-color: #888 transparent transparent transparent
    border-style: solid
    border-width: 0px 4px 0 4px
    height: 0
    left: 50%
    margin-left: -4px
    margin-top: -2px
    position: absolute
    top: 50%
    width: 0

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear
  float: left

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow
  border: none
  border-right: 1px solid #aaa
  border-radius: 0
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px
  left: 1px
  right: auto

.select2-container--classic.select2-container--open .select2-selection--single
  border: 1px solid #5897fb
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow
  background: transparent
  border: none
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b
    border-color: transparent transparent #888 transparent
    border-width: 0 4px 0px 4px

  .select2-container--default .select2-selection--single .select2-selection__rendered
    color: #8a8c95
    line-height: 30px
    font-size: 18px
    text-align: center

.select2-container--default .select2-selection--single
  background-color: #fff
  border: 1px solid #aaa
  border-radius: 0px
  height: 32px
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.16)
  .select2-container--default .select2-selection--single .select2-selection__clear
    cursor: pointer
    float: right
    font-weight: bold
  .select2-container--default .select2-selection--single .select2-selection__placeholder
    color: #999;

// scrollbar
.ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail
  width: 1096px
  max-width: 100%
  display: block
  background-color: #ffffff
  border: 1px solid #a7adb6
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.16)


.ps-container.ps-in-scrolling
  pointer-events: none


.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail
  bottom: 10px
  width: 1096px
  max-width: 100%
  opacity: 0.9


.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x
  bottom: 10px
  max-width: 100%
  width: 1096px


.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail
  opacity: 0.9


.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y

.ps-container>.ps-scrollbar-x-rail
  max-width: 100%
  bottom: 10px
  width: 1096px
  display: none
  position: absolute
  /* please don't change 'position' */
  opacity: 0
  -webkit-transition: background-color .2s linear, opacity .2s linear
  -moz-transition: background-color .2s linear, opacity .2s linear
  -o-transition: background-color .2s linear, opacity .2s linear
  transition: background-color .2s linear, opacity .2s linear
  bottom: 0px
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 12px


.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x
  max-width: 100%
  bottom: 10px
  width: 1096px
  position: absolute
  /* please don't change 'position' */
  background-color: #b9bdc5
  border: 1px solid #a7adb6
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.16)
  top: 0
  height: 15px
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out
  bottom: 2px
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 6px


.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x, .ps-container>.ps-scrollbar-x-rail:active>.ps-scrollbar-x
  bottom: 10px
  width: 1096px
  height: 11px
  max-width: 100%


.ps-container>.ps-scrollbar-y-rail
  display: none
  position: absolute
  /* please don't change 'position' */
  opacity: 0
  -webkit-transition: background-color .2s linear, opacity .2s linear
  -moz-transition: background-color .2s linear, opacity .2s linear
  -o-transition: background-color .2s linear, opacity .2s linear
  transition: background-color .2s linear, opacity .2s linear
  right: 0
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 15px


.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y
  position: absolute
  /* please don't change 'position' */
  background-color: #aaa
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out
  right: 2px
  /* there must be 'right' for ps-scrollbar-y */
  width: 6px


.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y, .ps-container>.ps-scrollbar-y-rail:active>.ps-scrollbar-y
  width: 11px


.ps-container.ps-in-scrolling
  pointer-events: none


.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail
  bottom: 10px
  width: 1096px
  opacity: 0.9
  max-width: 100%


.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x
  bottom: 10px
  max-width: 100%
  width: 1096px


.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail
  opacity: 0.9


.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y

.ps-container>.ps-scrollbar-x-rail,
.ps-container>.ps-scrollbar-y-rail
  bottom: 10px
  width: 1096px
  max-width: 100%
  opacity: 0.6


.ps-container>.ps-scrollbar-x-rail
  bottom: 10px
  width: 1096px
  max-width: 100%
  background-color: #eee
  opacity: 0.9


.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x
  bottom: 10px
  max-width: 100%


.ps-container>.ps-scrollbar-y-rail
  background-color: #eee
  opacity: 0.9


.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y
  background-color: #999
